
{% block body %}

    <div class="sm:w-3/5 w-4/5 mx-auto">
        <h1 class="pt-20 sm:text-1000xl md:text-7xl text-4xl font-bold text-center">
           WHAT WE DO
        </h1>

        <div class="py-10 text-center">
        </div>
        <p class="text-xl py-10">

            What We Do
            We are the people analytics company utilizing big-data of organizations to increase predictive success.
            We are specialized in the development and delivery of valid and reliable psychometric assessments to give our clients unique, data-driven insight into human behavior at work
        </p>
    </div>
{% endblock %}
